extends layout

block scripts
  script(src='/components/lightbox/js/lightbox.js')
  link(href='/components/lightbox/css/lightbox.css', rel='stylesheet')

block content

  h3 History

  a.btn.btn-default(href='/history/clear') Clear

  table.table.table-hover.table-condensed.table-bordered
    thead
      th Date
      th Status
      th Url
      th Title
      th Screen

    tbody
    if urls
      each item in urls
        if item.statusCode == 'null'
          tr

            td= item.date
            td= item.statusCode 
            td
              a(href= item.url)
                = item.url
            td
            td
              
        else
          tr.success

            td= item.date
            td= item.statusCode 
            td
              a(href= item.url)
                = item.url
            td
              a(href= item.currentUrl)
                = item.short_title
            td
              a(href='images/#{item.filename}',data-lightbox="1",data-title="#{item.title}") View


